<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>社員情報削除</title>
</head>
<body>
<section layout:fragment="content">
    <!-- タイトル -->
    <h1 class="mb-4">社員情報削除</h1>

    <!-- 検索フォーム -->
    <form th:action="@{/delete}" method="get" class="row g-3 mb-3">
        <div class="col-auto">
            <select name="staffId" class="form-select">
                <option value="" disabled selected>社員を選択してください</option>
                <option th:each="staff : ${staffList}"
                        th:value="${staff.staffId}"
                        th:text="${staff.staffId + ' : ' + staff.name}">
                </option>
            </select>

        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">検索</button>
        </div>
    </form>

    <!-- メッセージ表示 -->
    <div th:if="${message != null}" class="alert alert-warning" role="alert">
        <span th:text="${message}"></span>
    </div>

    <!-- 社員詳細テーブル -->
    <!-- 削除フォーム -->
    <form th:action="@{/delete}" th:object="${staffDelete}" method="post" onsubmit="return true;">
        <table class="table table-hover table-bordered">
            <thead class="table-primary">
            <tr>
                <th>社員コード</th>
                <th>名前</th>
                <th>セイ</th>
                <th>メイ</th>
                <th>部署</th>
                <th>役職</th>
                <th>年齢</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" th:field="*{staffId}" readonly></td>
                <td><input type="text" th:field="*{name}" readonly></td>
                <td><input type="text" th:field="*{firstName}" readonly></td>
                <td><input type="text" th:field="*{lastName}" readonly></td>
                <td><input type="text" th:field="*{division}" readonly></td>
                <td><input type="text" th:field="*{position}" readonly></td>
                <td><input type="number" th:field="*{age}" readonly></td>
            </tr>

            </tbody>
        </table>
        <div class="col-auto">
            <button type="submit" class="btn btn-danger btn-lg">削除</button>
            <a th:href="@{/}" class="btn btn-secondary btn-lg">戻る</a>
        </div>
    </form>

</section>
</body>
</html>