<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>

<head>
    <title>タスク作成</title>
</head>
<body>
<section layout:fragment="content">

    <div>
        <form th:action="@{/list}" method="post" th:object="${taskForm}">
            <div>
                <label for="summaryInput">概要</label>
                <input type="text" id="summaryInput" th:field="*{summary}">
                <span th:errors="*{summary}"></span>
            </div>
            <div>
                <label for="descriptionInput">詳細</label>
                <textarea id="descriptionInput" th:field="*{description}"></textarea>
                <span th:errors="*{description}"></span>
            </div>
            <div>
                <label for="StatusInput">ステータス</label>
                <select id="StatusInput" th:field="*{status}">
                    <option value="TODO">TODO</option>
                    <option value="Doing">Doing</option>
                    <option value="DONE">DONE</option>
                </select>
                <span th:errors="*{status}"></span>
            </div>
            <div>
                <button type="submit">課題作成</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>